body{
  background: #6BB9F0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#6BB9F0, #2574A9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6BB9F0, #2574A9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6BB9F0, #2574A9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6BB9F0, #2574A9); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a{
  text-decoration: none;
  color: white;
/*border: black dotted 2px; */
  padding: 10px;
  font-size: x-large;
}

a:hover{
  background-color: #BE90D4;
  color: black;
}

ul{
  list-style-type: none;
}

li{
  margin: 10px;
/*   border: black dotted 2px;*/
}

/* color codes found at: http://www.flatuicolorpicker.com/ */