body{
  background-color: rgb(25, 181, 254);
}

a{
  text-decoration: none;
  color: white;
/*border: black dotted 2px; */
  padding: 10px;
}

a:hover{
  background-color: rgb(191, 85, 236);
  color: white;
}

ul{
  list-style-type: none;
}

li{
  margin: 10px;
/*   border: black dotted 2px;*/
}

h1{
  color: rgb(135, 211, 124);
}

/* color codes found at: http://www.flatuicolorpicker.com/ */